@import url('https://fonts.googleapis.com/css2?family=Inter&family=Libre+Baskerville:ital@1&family=PT+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Libre+Baskerville:ital@1&family=PT+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper_div {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px minmax(100px, 1fr);
    grid-template-areas:
    "se1 se2 se3"
    "foo foo foo";
}

p {
    padding-top: 10px;
    color: rgb(0, 0, 0);
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

#sec1 {
    grid-area: se1;
    padding: 25px;
}

#sec2 {
    grid-area: se2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sec3 {
    grid-area: se3;
    padding: 25px;
}

ol {
    padding: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

h1 {
    font-family: 'PT Sans', sans-serif;
}

h2 {
    font-family: 'PT Sans', sans-serif;
}

#tips {
    padding: 5px;
}

header {
    grid-area: hea;
    background: #ffffff;
    display: flex;
    align-items: center;
    height: 120px;
    border-bottom: solid #9B59B6 3.5px;
}

.ahead{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 1rem ;
    margin: 0 10px;
}

.ahead:hover {
    text-decoration: underline;
    color: #9B59B6;
}

#allt_jag_inte {
    height: 23vw;
    min-height: 400px;
    transition-duration: 0.8s;
}

ul {
    display: flex;
    background:#ffffff;
    justify-content: space-around;
    align-items: center;
    width: 98vw;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    margin: 0;
}

#instaurl:hover {
    color: black;
}

footer {
    grid-area: foo;
    background-color: #9b59b6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.footp {
    font-size: 16px;
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#instaurl {
    display: inline-block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

#grid_wrapper_collage {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px 500px 500px;
    grid-template-areas:
    "se1 se2 se3 se4"
    "se5 se6 se7 se8"
    "se9 se10 se11 se12";
}

.booktemplate {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #c488db;
}

.book:hover {
        transform: scale(1.1, 1.1);
        transition-duration: 0.5s;
}

.book {
    height: 380px;
    width: auto;
    transition-duration: 1s;
}

#allt_jag_inte:hover {
    transform: scale(1.05, 1.05);
    transition-duration: 0.5s;
}